[submodule "auth-api"]
	path = auth-api
	url = https://github.com/moduleap/auth-api.git
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/moduleap/discovery-server.git
[submodule "register-api"]
	path = register-api
	url = https://github.com/moduleap/register-api.git
